{{date.month}}
{{date.day}} <br>
<em>{{starSign.birth_sign}}</em>

<div class="celebsHolder">
  {{#each result}}
  <div class="celeb">
  <img class="celebPhoto" src="{{photo_url}}" alt="No photo supplied"><br>
    Name: {{name}} <br>
    Age: {{age}} <br>
    Occupation: {{occupation}}<br>
    Birth Place: {{birth_place}}<br>
  </div>
  {{/each}}
</div>
